In [1]:
import pandas as pd
#Dict to Pandas DF
Mac = {'Day': [ 1 , 2 , 3 , 4 , 5 , 6 ] , "orders": [ 1000 , 700 , 6000 , 1000 , 400 , 350 ] ,
           "mcpaneer": [ 20 , 20 , 23 , 15 , 10 , 34 ]}
print(type(Mac))
df = pd.DataFrame ( Mac )
print ( df )

<class 'dict'>
   Day  orders  mcpaneer
0    1    1000        20
1    2     700        20
2    3    6000        23
3    4    1000        15
4    5     400        10
5    6     350        34

In [2]:
#Data Frame details
df.dtypes
df.columns
df.axes
df.ndim
df.size
df.shape
df_np = df.values
type(df_np)
print(df_np)

[[   1 1000   20]
 [   2  700   20]
 [   3 6000   23]
 [   4 1000   15]
 [   5  400   10]
 [   6  350   34]]

In [3]:
#Inbuilt methods
#generate descriptive statistics (for numeric columns only)
df.describe()

            Day       orders   mcpaneer
count  6.000000     6.000000   6.000000
mean   3.500000  1575.000000  20.333333
std    1.870829  2185.806487   8.115828
min    1.000000   350.000000  10.000000
25%    2.250000   475.000000  16.250000
50%    3.500000   850.000000  20.000000
75%    4.750000  1000.000000  22.250000
max    6.000000  6000.000000  34.000000

In [4]:
#max,min values
df.max()
df.min()

Day           1
orders      350
mcpaneer     10
dtype: int64

In [5]:

#return mean/median values for all numeric columns
df.mean()
df.median()

Day           3.5
orders      850.0
mcpaneer     20.0
dtype: float64

In [6]:
#standard deviation
df.std()

Day            1.870829
orders      2185.806487
mcpaneer       8.115828
dtype: float64

In [7]:
#returns a random sample of the data frame
df.sample(2)

   Day  orders  mcpaneer
5    6     350        34
3    4    1000        15

In [8]:

#drop all the records with missing values
df.dropna()

   Day  orders  mcpaneer
0    1    1000        20
1    2     700        20
2    3    6000        23
3    4    1000        15
4    5     400        10
5    6     350        34

In [9]:
#access individual columns
print(df.mcpaneer)
print(df['orders'])

0    20
1    20
2    23
3    15
4    10
5    34
Name: mcpaneer, dtype: int64
0    1000
1     700
2    6000
3    1000
4     400
5     350
Name: orders, dtype: int64

In [10]:
#Groupby
Mac2 = {'Day': [ 1 , 2 , 3 , 4 , 5 , 6,1,2,3,2,2 ] , "orders": [ 1000 , 700 , 6000 , 1000 , 400 , 350,300,200,300,100,400 ] ,
           "mcpaneer": [ 20 , 20 , 23 , 15 , 10 , 34,12,14,45,23,12]}
df= pd.DataFrame(Mac2)
print(df)
df_rank = df.groupby(['Day'])
print(df_rank)
df_rank.mean()
df.groupby('Day')[['mcpaneer']].mean()

    Day  orders  mcpaneer
0     1    1000        20
1     2     700        20
2     3    6000        23
3     4    1000        15
4     5     400        10
5     6     350        34
6     1     300        12
7     2     200        14
8     3     300        45
9     2     100        23
10    2     400        12
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001B114A8F5F8>

     mcpaneer
Day
1       16.00
2       17.25
3       34.00
4       15.00
5       10.00
6       34.00

In [11]:
#Select columns:
df[['mcpaneer','orders']]

    mcpaneer  orders
0         20    1000
1         20     700
2         23    6000
3         15    1000
4         10     400
5         34     350
6         12     300
7         14     200
8         45     300
9         23     100
10        12     400

In [12]:
#Sorting
df_sorted = df.sort_values( by =['orders', 'mcpaneer'], ascending = [False, False])
print(df_sorted)

    Day  orders  mcpaneer
2     3    6000        23
0     1    1000        20
3     4    1000        15
1     2     700        20
10    2     400        12
4     5     400        10
5     6     350        34
8     3     300        45
6     1     300        12
7     2     200        14
9     2     100        23

In [13]:
#aggregating statistical measures
df[['orders','mcpaneer']].agg(['min','mean','max'])
df.orders.kurt()
df.mcpaneer.skew()

1.3988326208552224

In [14]:

#List to Pandas DF
bigMac = [[ 1 , 2 , 3 , 4 , 5 , 6 ] , [ 1000 , 700 , 6000 , 1000 , 400 , 350 ] ,
           [ 20 , 20 , 23 , 15 , 10 , 34 ]]
df1 = pd.DataFrame ( bigMac )
df2 = df.transpose()
print ( df2 )

print ( df.head ( 2 ) )

print ( df.tail ( 2 ) )

            0    1     2     3    4    5    6    7    8    9    10
Day          1    2     3     4    5    6    1    2    3    2    2
orders    1000  700  6000  1000  400  350  300  200  300  100  400
mcpaneer    20   20    23    15   10   34   12   14   45   23   12
   Day  orders  mcpaneer
0    1    1000        20
1    2     700        20
    Day  orders  mcpaneer
9     2     100        23
10    2     400        12

In [15]:

# Merging the dataframes
df1 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2001 , 2002 , 2003 , 2004 ] )

df2 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 60 , 45 , 45 , 67 ]} ,
                     index=[ 2005 , 2006 , 2007 , 2008 ] )

merged = pd.merge ( df1 , df2 )

print ( merged )

   Mcveggie  Mcchicken  Frenchfries
0        90          1           45
1        70          2           45
2        60          3           67

In [16]:
# Merging on one specific column
df1 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 5 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2001 , 2002 , 2003 , 2004 ] )

df2 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 60 , 45 , 45 , 67 ]} ,
                     index=[ 2005 , 2006 , 2007 , 2008 ] )

merged = pd.merge ( df1 , df2 , on="Mcveggie" )

print ( merged )

   Mcveggie  Mcchicken_x  Frenchfries_x  Mcchicken_y  Frenchfries_y
0        80            2             50            2             60
1        90            1             45            1             45
2        70            5             45            2             45
3        60            3             67            3             67

In [17]:
# Joining two Data Frames

df1 = pd.DataFrame ( {"Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2001 , 2002 , 2003 , 2004 ] )

df2 = pd.DataFrame ( {"Low_Fat_Mcveggie": [ 50 , 45 , 67 , 34 ] , "Mcfloat": [ 1 , 3 , 5 , 6 ]} ,
                     index=[ 2001 , 2003 , 2005 , 2004 ] )

joined = df1.join ( df2 )
print ( joined )

      Mcchicken  Frenchfries  Low_Fat_Mcveggie  Mcfloat
2001          2           50              50.0      1.0
2002          1           45               NaN      NaN
2003          2           45              45.0      3.0
2004          3           67              34.0      6.0

In [18]:

# Concatination of two Data Frames
df1 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2001 , 2002 , 2003 , 2004 ] )

df2 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2005 , 2006 , 2007 , 2008 ] )

concat = pd.concat ( [ df1 , df2 ] )

print ( concat )

# specify axis=1 in order to join, merge or cancatenate along the columns
df1 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2001 , 2002 , 2003 , 2004 ] )

df2 = pd.DataFrame ( {"Mcveggie": [ 80 , 90 , 70 , 60 ] , "Mcchicken": [ 2 , 1 , 2 , 3 ] , "Frenchfries": [ 50 , 45 , 45 , 67 ]} ,
                     index=[ 2005 , 2006 , 2007 , 2008 ] )

concat = pd.concat ( [ df1 , df2 ] , axis=1 )

print ( concat )

      Mcveggie  Mcchicken  Frenchfries
2001        80          2           50
2002        90          1           45
2003        70          2           45
2004        60          3           67
2005        80          2           50
2006        90          1           45
2007        70          2           45
2008        60          3           67
      Mcveggie  Mcchicken  Frenchfries  Mcveggie  Mcchicken  Frenchfries
2001      80.0        2.0         50.0       NaN        NaN          NaN
2002      90.0        1.0         45.0       NaN        NaN          NaN
2003      70.0        2.0         45.0       NaN        NaN          NaN
2004      60.0        3.0         67.0       NaN        NaN          NaN
2005       NaN        NaN          NaN      80.0        2.0         50.0
2006       NaN        NaN          NaN      90.0        1.0         45.0
2007       NaN        NaN          NaN      70.0        2.0         45.0
2008       NaN        NaN          NaN      60.0        3.0         67.0

In [19]:
# set index

df = pd.DataFrame (
    {"Day": [ 1 , 2 , 3 , 4 ] , "orders": [ 200 , 100 , 230 , 300 ] , "mcpaneer": [ 20 , 45 , 60 , 10 ]} )

df.set_index ( "Day" , inplace=True )

print ( df )

# Change column Headers
df = pd.DataFrame (
    {"Day": [ 1 , 2 , 3 , 4 ] , "orders": [ 200 , 100 , 230 , 300 ] , "mcpaneer": [ 20 , 45 , 60 , 10 ]} )

df = df.rename ( columns={"orders": "customers"} )

print ( df )

     orders  mcpaneer
Day
1       200        20
2       100        45
3       230        60
4       300        10
   Day  customers  mcpaneer
0    1        200        20
1    2        100        45
2    3        230        60
3    4        300        10

In [24]:
# Data Munging
example = pd.read_csv ( "C:\\Users\\admin\\Downloads\\python\\python basis\\basicsclass1\\example.csv" ,index_col=0 )
example.to_html ( 'sample.html' )

FileNotFoundError: [Errno 2] File b'C:\\Users\\admin\\Downloads\\python\\python basis\\basicsclass1\\example.csv' does not exist: b'C:\\Users\\admin\\Downloads\\python\\python basis\\basicsclass1\\example.csv'

In [25]:
# Read csv
# Read CSV File
data = pd.read_csv ( 'C:\\Users\\admin\\Downloads\\python\\python basis\\basics class1\\example.csv' )

In [26]:
data

    1   2   3   4   5   6   7   8   9  10
0   2   3   4   5   6   7   8   9  10  11
1   3   4   5   6   7   8   9  10  11  12
2   4   5   6   7   8   9  10  11  12  13
3   5   6   7   8   9  10  11  12  13  14
4   6   7   8   9  10  11  12  13  14  15
5   7   8   9  10  11  12  13  14  15  16
6   8   9  10  11  12  13  14  15  16  17
7   9  10  11  12  13  14  15  16  17  18
8  10  11  12  13  14  15  16  17  18  19

In [27]:
# write csv
data.to_csv ( 'data_from_pandas.csv' , sep=',' , index=False )

In [28]:
# write to xls
# Create a Pandas dataframe from the data.
df = pd.DataFrame ( {'Data': [ 10 , 20 , 30 , 20 , 15 , 30 , 45 ]} )

In [29]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter ( 'pandas_simple.xlsx' , engine='xlsxwriter' )

In [30]:
# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel ( writer , sheet_name='Sheet1' )

In [31]:
# Close the Pandas Excel writer and output the Excel file.
writer.save ()