In [1]:
import os
import pandas as pd
#os.chdir("")

In [36]:
bank=pd.read_csv("UniversalBank.csv",na_values=["?",","])
print(bank.shape)
print(type(bank))

(5000, 14)
<class 'pandas.core.frame.DataFrame'>

In [37]:
print(bank.columns)
print(bank.dtypes)

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')
ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [38]:
bank.head(6)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0

In [39]:
bank['Education']=bank['Education'].astype('category')

In [40]:
bank=pd.get_dummies(bank)

In [41]:
bank.head(5)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3
0,1,25,1,49,91107,4,1.6,0,0,1,0,0,0,1,0,0
1,2,45,19,34,90089,3,1.5,0,0,1,0,0,0,1,0,0
2,3,39,15,11,94720,1,1.0,0,0,0,0,0,0,1,0,0
3,4,35,9,100,94112,1,2.7,0,0,0,0,0,0,0,1,0
4,5,35,8,45,91330,4,1.0,0,0,0,0,0,1,0,1,0

In [42]:
 bank=bank.fillna(bank.mean())

In [43]:
from sklearn import preprocessing, metrics, model_selection
from sklearn.model_selection import train_test_split

In [44]:
# Divide in to train and test
y=bank["Personal Loan"]
X=bank.drop('Personal Loan', axis=1)

#from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [45]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 15)
(1000, 15)
(4000,)
(1000,)

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
scaler = StandardScaler()
scaler.fit(X_train)

C:\Users\aravi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

C:\Users\aravi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
C:\Users\aravi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

# Build SVM Classifier

In [48]:
from sklearn import svm

In [49]:
model= svm.SVC(C=10,kernel='rbf')
model.fit(X_train,y_train)

C:\Users\aravi\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [50]:

y_pred = model.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.892

# GridSearch Cross validation

In [ ]:
#from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV
Cs = [0.001, 0.01, 0.1, 1, 10]
gammas = [0.001, 0.01, 0.1, 1]
ks = ['linear','poly','rbf','sigmoid']
param_grid = {'C': Cs, 'gamma' : gammas, 'kernel' : ks}
clf = GridSearchCV(svm.SVC(kernel='rbf'), param_grid, n_jobs=4)
clf.fit(X=X_train, y=y_train)
svm_model = clf.best_estimator_
print (clf.best_score_, clf.best_params_)

In [30]:

y_pred_test=svm_model.predict(X_test)
print(accuracy_score(y_test,y_pred_test))

0.984

Explore function SVM regressor
http://scikit-learn.org/stable/modules/svm.html

## Build Random Forest Classifier

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
clf = RandomForestClassifier(n_estimators=50,max_features=5)
clf.fit(X=X_train, y=y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:

y_pred = clf.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.99

# GridSearch Cross validation

In [35]:
from sklearn.grid_search import GridSearchCV
rfc = RandomForestClassifier(n_jobs=-1, max_features='sqrt') 
 
# Use a grid over parameters of interest
param_grid = { 
           "n_estimators" : [50,100,200],
           "max_features" : [4,5,6,7,8],
           "criterion"    : ['gini','entropy']} 
 
CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 10)
CV_rfc.fit(X=X_train, y=y_train)
print (CV_rfc.best_score_, CV_rfc.best_params_)

ModuleNotFoundError: No module named 'sklearn.grid_search'

In [ ]:
y_pred_test=svm_model.predict(X_test)
print(accuracy_score(y_test,y_pred_test))